language:      node_js
node_js:
  - "10"
  
before_script:
  - psql -c 'create database property_test_db;' -U postgres

install:       npm install
cache:
  directories:
    - node_modules
script:
  - npm test
after_success:
- npm run coveralls